.nav-main-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 4.5rem;
  background-color: #01645F;
  padding: 0.5rem 0;
}

.profile-image {
  border-radius: 1000px;
  width: 2.5rem;
  cursor: pointer;
}

.profile-icon {
  font-size: 1.75rem;
  margin-right: 1.2rem;
}

.nav-title {
  text-transform: uppercase;
  margin: 0 !important;
  color: #D3D3D3;
  font-weight: 500 !important;
  font-size: 1rem;
}
