.nav-main-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 4.5rem;
  background-color: #01645F;
  padding: 0.5rem 0;
}

.nav-profile-image {
  border-radius: 1000px;
  width: 2.2rem;
  cursor: pointer;
  margin-right: 1.2rem;
}

.nav-profile-icon {
  font-size: 1.75rem;
  margin-right: 1.2rem;
  cursor: pointer;
}

.nav-title {
  text-transform: uppercase;
  margin: 0 !important;
  color: #D3D3D3;
  font-weight: 500 !important;
  font-size: 1rem;
}

.nav-profile-main-container {
  position: fixed;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -2;
}

.nav-profile-container {
  position: fixed;
  z-index: -1;
  top: 2.9rem;
  right: 0;
  max-width: 17rem;
  width: 100%;
  padding: 2rem 0;
  height: 100%;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}

.profile-image {
  border-radius: 1000px;
  width: 8rem;
  padding: 0.2rem;
  cursor: pointer;
  border: 2px solid #00645F;
}

.profile-icon {
  font-size: 11.5rem;
  opacity: 20%;
  border-radius: 1000px;
  border: 1px solid black
}

.profile-displayName {
  color: #888080;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 1rem 0 !important;
  padding: 0 !important;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.profile-info-button {
  background: transparent;
  text-transform: capitalize;
  width: 89%;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.profile-info-button-icon {
  opacity: 60%;
  font-size: 1.2rem;
}

.hover {
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-info-container {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.table-head-column {
  background-color: #DBE9E8;
}

.table-content-column {
  background-color: #F6F6F6;
  width: 100%;
}

.info-table td {
  margin: 0.1rem 0;
}

.table-heading {
  font-weight: 500 !important;
  font-size: 0.9rem !important;
}

.table-content {
  margin: 100rem;
  padding: 1rem 0 !important;
  font-weight: 300 !important;
  font-size: 0.85rem !important;
  width: 100%;
}

.profile-info-button:hover {
  background-color: #EBEBEB;
}

.hover:hover .profile-info-container {
  height: auto;
}

@media screen and (min-width: 1440px) {
  .nav-title {
    font-size: 1.8rem;
  }

  .logo {
    width: 9rem;
    padding: 0.7rem 0;
  }

  .nav-profile-image {
    width: 3.8rem;
    margin-right: 2rem;
  }
  
  .nav-profile-icon {
    font-size: 3.3rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 675px) and (min-width: 450px) {
  .nav-title {
    display: none;
  }
}

@media screen and (max-width: 449px) {
  .nav-title {
    display: none;
  }

  .logo {
    width: 3.5rem;
    padding: 0.5rem 0;
  }
}