.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.form-container {
  max-width: 27rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2.5rem;
  border-radius: 0.4rem;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-title {
  text-transform: uppercase;
  font-size: 1.6rem !important;
  letter-spacing: 2px !important;
  text-align: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-column-between  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.313rem;
  width: 100%;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.313rem;
  width: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.border-test {
  border: 1px solid black
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

p {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.error-message-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-left: 0.4rem;
  padding-top: 0.2rem;

}

.error-message-icon {
  color: red !important;
  font-size: 1rem;
  
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.error-message {
  color: red !important;
  font-size: 0.8rem;
  white-space: nowrap;
}
