.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.form-container {
  max-width: 27rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2.5rem;
  border-radius: 0.4rem;
  background-color: var(--form-container-bg-color);
  box-shadow: var(--form-container-shadow-color-one) 0rem 0.375rem 0.75rem -0.125rem,
    var(--form-container-shadow-color-two ) 0rem 0.188rem 0.438rem -0.188rem;
}

.form-title {
  text-transform: uppercase;
  font-size: 1.6rem !important;
  letter-spacing: 0.125rem !important;
  text-align: center;
}

.flex-column-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-column-between  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.313rem;
  width: 100%;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.313rem;
  width: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.border-test {
  border: 0.063rem solid var(--border-test-color);
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

p {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.error-message-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-left: 0.4rem;
  padding-top: 0.2rem;

}

.error-message-icon {
  color: var(--form-validation-error-message) !important;
  font-size: 1rem;
  
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.error-message {
  color: var(--form-validation-error-message) !important;
  font-size: 0.8rem;
  white-space: nowrap;
}
