.btn {
  border-radius: 0.4rem;
  width: 100%;
  text-align: center;
  text-justify: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.9rem 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(
    to right,
    #fc00ff 0%,
    #fbc2eb 50%,
    #fbc2eb 40%,
    #fc00ff 100%
  );
  color: #fff;
  transition: 0.5s;
  background-size: 200% auto;
  place-content: center;
  text-transform: uppercase;
  margin-top: 0.7rem;
}

.btn:hover {
  background-position: right center;
}

@media screen and (min-width: 1440px) {
}

@media screen and (max-width: 1439px) and (min-width: 1250px) {
}

@media screen and (max-width: 1249px) and (min-width: 876px) {
}

@media screen and (max-width: 875px) and (min-width: 676px) {
}

@media screen and (max-width: 675px) and (min-width: 450px) {
}

@media screen and (max-width: 449px) {
}
