.signin-para {
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
}

.signin-title {
  line-height: 0 !important;
  margin-top: 1.6rem;
}


@media screen and (min-width: 1440px) {
}

@media screen and (max-width: 1439px) and (min-width: 1250px) {
}

@media screen and (max-width: 1249px) and (min-width: 876px) {
}

@media screen and (max-width: 875px) and (min-width: 676px) {
}

@media screen and (max-width: 675px) and (min-width: 450px) {
}

@media screen and (max-width: 449px) {
}
