$breakpoint-xs-min : 0;
$breakpoint-xs-max : 599.99px;
$breakpoint-sm-min : 600px;
$breakpoint-sm-max : 1023.99px;
$breakpoint-md-min : 1024px;
$breakpoint-md-max : 1439.99px;
$breakpoint-lg-min : 1440px;
$breakpoint-lg-max : 1919.99px;
$breakpoint-xl : 1920px