.dark-color {
    color: white;
}

.dark-bg-color {
    background-color: #3949AB;
}

.light-color {
    color: black;
}

.light-bg-color {
    background-color: #ECEFF1;
}

.dark-active-navlink {
    color: black;
}