.borderRadius-1rem {
    border-radius: 1rem;
}

.border-circle {
    border-radius: 1000000000px;
    overflow: hidden;
}

.border-bottom-light-grey {
    border-bottom: 1px solid rgb(151, 150, 150);
}
