$light-gray: #c5c6d0;

$white: white;

$black: black;

$light-pink: #668598;

$mydark : #010080;

$mylight : #F2F3F8;

$text-dark-mode: white;

$bg-dark-mode: #3949AB;

$text-light-mode: black;

$bg-light-mode: #ECEFF1;

$active-navlink-dark-mode: black;