.password-margin-top {
  margin-top: 0.7rem;
}

.position-relative {
  position: relative;
}

.toggle-password-btn {
  position: absolute;
  bottom: 0.2rem;
  right: 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.password-eye {
  font-size: 1.35rem;
}

@media screen and (min-width: 1640px) {
  .password-eye {
    font-size: 2.2rem !important;
  }
}

@media screen and (max-width: 1639px) and (min-width: 1250px) {
}

@media screen and (max-width: 1249px) and (min-width: 876px) {
}

@media screen and (max-width: 875px) and (min-width: 676px) {
}

@media screen and (max-width: 675px) and (min-width: 450px) {
  .password-eye {
    font-size: 1.4rem !important;
  }
}

@media screen and (max-width: 449px) {
  .password-eye {
    font-size: 1.1rem !important;
  }
}