.profile-main-container {
  position: absolute;
  top: 3rem;
  right: 0;
  left: 0;
}

@media screen and (min-width: 1440px) {
  .profile-child-container {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    max-width: 110.875rem;
    margin: 0 auto;
  }

  .profile-box {
    width: 29.875rem;
    padding: 2.5rem;
    border-radius: 1rem;
    margin-top: 5rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .profile-title {
    font-size: 1.5rem;
  }

  .profile-simple-link {
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1250px) {
  .profile-child-container {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    max-width: 70rem;
    margin: 0 auto;
  }

  .profile-box {
    width: 23.875rem;
    padding: 2.5rem;
    border-radius: 1rem;
    margin-top: 3.5rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .profile-title {
    font-size: 1.3rem;
  }

  .profile-simple-link {
    font-size: 1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1249px) and (min-width: 876px) {
  .profile-child-container {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    max-width: 60rem;
    margin: 0 auto;
  }

  .profile-box {
    width: 24.875rem;
    padding: 2.5rem;
    border-radius: 1rem;
    margin-top: 5rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .profile-title {
    font-size: 1.2rem;
  }

  .profile-simple-link {
    font-size: 0.9rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 875px) and (min-width: 676px) {
  .profile-child-container {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    max-width: 40rem;
    margin: 0 auto;
  }

  .profile-box {
    width: 19.875rem;
    padding: 2.5rem;
    border-radius: 1rem;
    margin-top: 3rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .profile-title {
    font-size: 1.1rem;
  }

  .profile-simple-link {
    font-size: 0.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 675px) and (min-width: 450px) {
  .profile-child-container {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    max-width: 40rem;
    margin: 0 auto;
  }

  .profile-box {
    width: 17.875rem;
    padding: 2.5rem;
    border-radius: 1rem;
    margin-top: 5rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .profile-title {
    font-size: 1.1rem;
  }

  .profile-simple-link {
    font-size: 0.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 449px) {
  .profile-child-container {
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
    max-width: 40rem;
    margin: 0 auto;
  }

  .profile-box {
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 4rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .profile-title {
    font-size: 1.1rem;
  }

  .profile-simple-link {
    font-size: 0.8rem;
    cursor: pointer;
  }
}
