.iconButton-container {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  font-size: 1.563rem;
  border-radius: 62.5rem;
  padding: 0.188rem;
}

@media screen and (min-width: 1440px) {
    .icon {
        font-size: 2.0563rem;
        border-radius: 62.5rem;
        padding: 0.188rem;
      }
}
