.sign-button {
  border-radius: 0.4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  border: none;
}

.sign-button-title {
  font-size: 1rem;
  margin: 0
}

.sign-button-icon {
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 445px) {
  .sign-button-title {
    font-size: 0.9rem;
  }

  .sign-button {
    gap: 0.2rem;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    border: none;
  }
}
